body {
    margin: 40px;
    background-color: #000000;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #f4f4f9;
}

h1 {
    font-size: 48px;
    margin-bottom: 1px;
}

p {
    font-size: 18px;
    margin-bottom: 1px;
}

h2 {
    font-size: 14px;
}


    .img {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;

}
.img img {
    max-width: 350px;
    width: 100%;
    height: auto;
}

button[type="submit"] {
    background-color: #1db954;
    color: #f4f4f9;
    padding: 10px 22px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.2s ease;
    margin-bottom: 175px;
}

button[type="submit"]:hover {
    background-color: #18a746;
    transform: scale(1.05);
}
